body{
    background-color: rgb(43, 43, 43);
}

#game-legend{
    width: 150px;
    text-align: left;
    margin-left: calc(35% - 380px / 2);
}
#game-legend h5{
    margin: 0px;
    color: white;
}
#game-legend p{
    margin: 0px;
}

#game-label{
    width: 496px;
    height: 80px;
    text-align: center;
    margin-left: calc(50% - 380px / 2);
    margin-top: calc(10vh - 100px / 2);
}

#game-label label{
    color: white;
    font-size: 70px;
}

#gameboard-container {
    width: 500px;
    height: 665px;
    border: 1px solid #FFF;
    margin-left: calc(50% - 380px / 2);
    margin-top: calc(8vh - 100px / 2);
}

#game-options{
    margin-left: 150px;
    margin-top: 20px;
}

#game-options button{
    cursor: pointer;
}

#btnStartGame{
    width: 100px;
    height: 30px;
    background-color: green;
    color: rgb(252, 252, 252);
    border: 0px;
    font-weight: bold;
}

#btnStartGame:hover{
    background-color: black;
    color: yellow;
}

#btnStartGame:disabled{
    background-color: black;
    color: grey;
}

#btnResetGame{
    width: 100px;
    height: 30px;
    background-color: red;
    color: rgb(252, 252, 252);
    border: 0px;
    font-weight: bold;
}

#btnResetGame:hover{
    background-color: black;
    color: red;
}

#gameboard{
    margin-top: 5px;
}

#gameboard button{
    width: 150px;
    height: 160px;
    border: 1px solid white;
    margin-left: 13px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    float: left;
}

#gameboard button:hover{
    background-color: rgb(43, 43, 66);
    color: yellow;
}

#gameboard button:disabled{
    background-color: grey;
}

#player-container{
    border: 1px solid #FFF;
    margin-left: calc(50% - 380px / 2);
    border: 0px;
}

#player-container input{
    width: 496px;
    height: 50px;
    font-size: 50px;
    font-weight: 200px;
    text-align: center;
    background-color: white;
}

.player1{
    color: red;
}

.player2{
    color: blue;
}

.noWinner{
    color: green;
}

#game-winner{
    width: 500px;
    height: 50px;
    text-align: center;
    margin-top: 7px;
}

#game-winner input{
    width: 494px;
    height: 50px;
    background-color: white;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    border: 1px solid black;
    padding: 0px;
}